In [98]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from time import time

In [99]:
#1622
#User 564
#Reading users file:
u_cols = ['user_id','age','sex','occupation','zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', \
                    names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id','movie_id','rating','unix_timestamp']
rating = pd.read_csv('ml-100k/u.data',sep='\t',names=r_cols,\
                     encoding='latin-1')

#Reading the movie file:
item_cols = ['movie_id','movie title','release date',
'video release date','IMDb URL','unknown','Action',
'Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','Film-Noir','Horror',
'Musical','Mystery','Romance ','Sci-Fi','Thriller',
'War' ,'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|',names=item_cols,\
                   encoding='latin-1')

print(rating.head())
df2  = rating.copy()

df2.head()

groups = df2.groupby("user_id", as_index=False)
k = 0
columns = ['user_id','age','sex','movie_id']
#print(users)
df_users = pd.DataFrame(columns=columns)
#print(df_user)
for group in groups:
    toy_stor = group
    toy_story = toy_stor[1].copy()
    #print((toy_story) )
    movie_num = toy_story['movie_id'].iloc[0]
    users_rating = users.copy()
    df_1_toy = users.copy()
    df_1_toy.occupation.unique()

    user_movie = pd.merge(df_1_toy,toy_story)
    #print("Sigh\n",user_movie)
    

    #user_movie = user_movie.drop(['unix_timestamp','rating','zip_code'],axis=1)
    user_movie = user_movie.drop(['unix_timestamp','rating','zip_code','occupation'],axis=1)
    
    df_users = df_users.append(user_movie)
        
    k+=1

print("right here")
df_users = df_users.reset_index(drop=True)
size = df_users.loc[df_users['user_id'] < 564].shape[0]
df_users = df_users[:size].copy()
df_users.sex.replace(['M', 'F'], [1, 0], inplace=True)
print(df_users)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
right here
      user_id age  sex movie_id
0           1  24    1       61
1           1  24    1      189
2           1  24    1       33
3           1  24    1      160
4           1  24    1       20
5           1  24    1      202
6           1  24    1      171
7           1  24    1      265
8           1  24    1      155
9           1  24    1      117
10          1  24    1       47
11          1  24    1      222
12          1  24    1      253
13          1  24    1      113
14          1  24    1      227
15          1  24    1       17
16          1  24    1       90
17          1  24    1       64
18          1  24    1       92
19          1  24    1      228
20          1  24    1      266
21          1  24    1      121
22          1  24    1      114
23          1  24    1      132
24          1  24    1       74
25          1  24    1      134
26          1  24    1       98
27          1  24    1      186
28          1  24    1      221
29          1  24    1       84
...       ...  ..  ...      ...
63425     563  39    0     1035
63426     563  39    0      692
63427     563  39    0      233
63428     563  39    0      401
63429     563  39    0      367
63430     563  39    0      254
63431     563  39    0       50
63432     563  39    0      412
63433     563  39    0      237
63434     563  39    0      210
63435     563  39    0      118
63436     563  39    0      153
63437     563  39    0      181
63438     563  39    0      862
63439     563  39    0      781
63440     563  39    0      403
63441     563  39    0      678
63442     563  39    0       70
63443     563  39    0      476
63444     563  39    0      255
63445     563  39    0      257
63446     563  39    0      321
63447     563  39    0      301
63448     563  39    0      172
63449     563  39    0      167
63450     563  39    0      220
63451     563  39    0      304
63452     563  39    0      294
63453     563  39    0      871
63454     563  39    0      566

[63455 rows x 4 columns]

In [134]:
print(df_users.loc[df_users['user_id'] > 0].shape[0])
print(df_users.loc[df_users['movie_id'] == 50].shape[0],"Star Wars")
print(df_users.loc[df_users['movie_id'] == 181].shape[0],"Return Jedi")
print(df_users.loc[df_users['movie_id'] == 1].shape[0],"Toy Story")
print(df_users.loc[df_users['movie_id'] == 172].shape[0],"Empire Strike Back")
print(df_users.loc[df_users['movie_id'] == 257].shape[0],"Men in Black")

63455
354 Star Wars
310 Return Jedi
270 Toy Story
220 Empire Strike Back
187 Men in Black

In [101]:
labels_train = df_users[['movie_id','user_id']].copy()
labels_train = labels_train.set_index('user_id')
print(labels_train.head())
print("\nlabels_train\n")
print(labels_train.head())
print("sort:")
labels_train = pd.Series(df_users['movie_id'].values,\
                         index=df_users['user_id'])
labels_train = labels_train.rename("movie_id")
labels_train= labels_train.\
apply(pd.to_numeric, errors='coerce')
labels_train = labels_train.sort_values()
print(labels_train.head())
df_user = df_users.copy()
df_user = df_user.sort_values(by=['movie_id'])
df_user = df_user.drop(['movie_id'],axis=1)
#print(df_users.set_index('user_id'))
#df_users = df_users.set_index('user_id')
print(df_user)
print("here")
print("Labels size",len(labels_train))
#print(labels_train.loc[labels_train['movie_id'] == 586].shape[0])
print(df_user.head())
df_user = df_user.set_index('user_id')
print(df_user.head())

        movie_id
user_id
1             61
1            189
1             33
1            160
1             20

labels_train

        movie_id
user_id
1             61
1            189
1             33
1            160
1             20
sort:
user_id
97     1
287    1
49     1
305    1
381    1
Name: movie_id, dtype: int64
      user_id age  sex
10763      97  43    1
29235     287  21    1
5142       49  23    0
32435     305  23    1
41623     381  33    1
62003     550  16    0
59015     526  30    1
14122     141  49    1
61969     549  42    1
57879     512  29    1
8540       84  32    1
52442     460  44    0
12365     117  20    1
61937     548  51    1
38410     347  18    1
27057     271  51    1
11293     102  38    1
22515     230  28    0
3635       25  39    1
20111     201  27    1
20840     213  33    1
34082     314  20    0
59732     533  43    1
23783     242  33    1
38527     348  24    0
41280     379  44    1
41403     380  32    1
14377     144  53    1
25229     256  35    0
6733       62  27    0
...       ...  ..  ...
54782     486  39    1
52682     464  60    1
48581     433  27    1
49334     437  27    0
58076     514  27    1
49504     439  23    0
49827     445  21    1
50093     448  23    1
50375     450  35    0
51809     456  24    1
52578     463  48    0
52631     463  48    0
52877     466  22    1
54213     479  30    1
57413     506  46    1
54786     486  39    1
54842     486  39    1
54815     486  39    1
58318     519  22    1
55289     489  55    1
55309     489  55    1
55944     496  21    0
56280     497  20    1
56583     500  28    1
58285     519  22    1
59237     528  18    1
61367     543  33    1
61997     550  16    0
62375     552  45    1
62207     551  25    1

[63455 rows x 3 columns]
here
Labels size 63455
      user_id age  sex
10763      97  43    1
29235     287  21    1
5142       49  23    0
32435     305  23    1
41623     381  33    1
        age  sex
user_id
97       43    1
287      21    1
49       23    0
305      23    1
381      33    1

In [102]:
#print(df_users.occupation.unique())
#print(len(labels_train['movie_id'].unique()))
movies1 = labels_train.unique()
print(len(movies1) )
#print((movies1) )
print(type(movies1))
movies1 = movies1.tolist()
print(movies1[:10])

1621
<class 'numpy.ndarray'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
GNB = MultinomialNB()
t0 = time()
print(labels_train.head())
print(labels_train.tail())
print(df_user.head())
print(df_user.tail())
GNB.fit(df_user,labels_train)

user_id
97     1
287    1
49     1
305    1
381    1
Name: movie_id, dtype: int64
user_id
528    1618
543    1619
550    1620
552    1620
551    1621
Name: movie_id, dtype: int64
        age  sex
user_id
97       43    1
287      21    1
49       23    0
305      23    1
381      33    1
        age  sex
user_id
528      18    1
543      33    1
550      16    0
552      45    1
551      25    1

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [123]:
#for i in [563,566,567,568]:
#print(movies1[:10])
movies_sort = movies1
#print(movies_sort[:11])
movies_sort.sort()
#print(movies_sort[:11])
print("Movies sorted",len(movies_sort))
for i in [563,566,567]:
    df_sugg = pd.DataFrame(columns = ['user_id','age','sex'])
    df_user = users.iloc[i].copy()
    df_user = df_user.drop(['occupation','zip_code'], axis=0)
    #print(df_user)
    #print(type(df_user))
    #df_user = df_user.set_index('user_id')
    if(df_user['sex'] == 'M'):
        df_user['sex'] = 1
    else:
        df_user['sex'] = 0
    #print(df_user)
    #for j in range(1,1683):
        #df_user['movie_id'] = j
        #print(df_user)
        #df_sugg = df_sugg.append(df_user)
    df_sugg = df_sugg.append(df_user)
        #print("yeah")
    #print(df_sugg)
    #print(df_sugg.shape)
    print(df_sugg)
    df_sugg = df_sugg.set_index('user_id')
    #print(df_sugg)
    nb_pred = GNB.predict(df_sugg)
    approx_pred = GNB.predict_proba(df_sugg)
    #print(len(nb_pred))
    #print(len(approx_pred[0]))
    #print(nb_pred)
    #print(approx_pred)
    proba = approx_pred[0].copy()
    proba = (proba.tolist())
    order = approx_pred[0].copy()
    order = np.sort(order)
    order = order[::-1]
    order = (order.tolist())
    #print("order",order[0])
    #print(len(approx_pred[0]))
    #print((order))
    k = 0
    list = []
    #print(movies_sort)
    #print(type(proba))
    print("Movies sorted",len(movies_sort))
    #print(proba[:2])
    for i in range(15):
        pop1 = (proba.index(order[i]))
        #proba.pop(pop1)
        #print(len(proba))
        list.append(movies_sort[pop1])
    print("Top 10 recommended movies:",list)
    print("\n\n\n")
    #for i in proba:
        #if(i == order[0]):
            #print()
    #print(proba[:10])
    #print(order[:10])

Movies sorted 1621
    user_id age sex
563     564  65   1
Movies sorted 1621
Top 10 recommended movies: [50, 100, 258, 286, 181, 288, 294, 1, 300, 127, 98, 121, 174, 56, 237]




    user_id age sex
566     567  24   1
Movies sorted 1621
Top 10 recommended movies: [50, 100, 258, 181, 288, 294, 1, 121, 286, 7, 174, 56, 98, 300, 127]




    user_id age sex
567     568  39   1
Movies sorted 1621
Top 10 recommended movies: [50, 100, 258, 181, 288, 294, 286, 1, 121, 174, 56, 7, 98, 300, 127]

In [13]:
max = -1
index = 0
j = 0
for i in proba:
    if(i>max):
        max = i
        index = j
    j+=1
    
print(index,max)

96 0.00566329785395215

In [131]:
groups = df2.groupby("user_id", as_index=False)
#print(movies1)
k=1
user_num=0
index = user_num
for group in groups:
    #print(group)
    #print(len(group))
    if(k == 563 or k == 566 or k == 567):
        print("User_num: ",group[0])
        toy_stor = group
        #print(toy_stor)
        toy_story = toy_stor[1].copy()
        #print(toy_story['movie_id'].tolist())
        #print(movies1)
        if(set(toy_story['movie_id'].tolist()).issubset(movies1) == False):
            index+=1 
            k+=1
            print("sigh")
            temp = toy_story['movie_id'].tolist()
            temp.sort()
            #print(temp)
            #print(set(toy_story['movie_id'].tolist()).issubset(movies1))
            continue
        #print(set(toy_story['movie_id'].tolist()).issubset(movies1))
        else:
            #print(movies1)
            #print(movies1.sort())
            #print(toy_story)
            df_user1 = toy_story.copy()
            df_user1.sort_values("rating", inplace=True,ascending=False)
            print("here")
            #print(df_user1)
            movie_user1 = pd.merge(df_user1,movies)
            genre = ['release date','video release date','IMDb URL','unknown','Action',\
            'Adventure','Animation','Childrens','Comedy','Crime',\
            'Documentary','Drama','Fantasy','Film-Noir','Horror',\
            'Musical','Mystery','Romance ','Sci-Fi','Thriller',\
            'War' ,'Western']
            movie_user1 = movie_user1.drop(genre,axis=1)
            movie_user2 = movie_user1.copy()
            movie_user2 = movie_user2.sort_values("rating",ascending=False)
            movie_user2 = movie_user2.reset_index(drop=True)

            print(len(movie_user2))
            print(len(movie_user2.loc[movie_user1['rating'] >= 3]))
            print("*"*40,"Actual User Rating","*"*40)
            print("User_num:",group[0])
            print("\n")
            for i in range(len(movie_user2)):
                print(movie_user2['movie_id'][i],\
                      movie_user2['movie title'][i],\
                      movie_user2['rating'][i])
    k+=1
    if(k == 567):
        break

User_num:  563
here
30
25
**************************************** Actual User Rating ****************************************
User_num: 563


172 Empire Strikes Back, The (1980) 5
321 Mother (1996) 5
237 Jerry Maguire (1996) 5
257 Men in Black (1997) 5
255 My Best Friend's Wedding (1997) 5
692 American President, The (1995) 5
50 Star Wars (1977) 5
181 Return of the Jedi (1983) 4
566 Clear and Present Danger (1994) 4
233 Under Siege (1992) 4
401 Brady Bunch Movie, The (1995) 4
367 Clueless (1995) 4
210 Indiana Jones and the Last Crusade (1989) 4
118 Twister (1996) 4
153 Fish Called Wanda, A (1988) 4
403 Batman (1989) 4
70 Four Weddings and a Funeral (1994) 4
301 In & Out (1997) 4
167 Private Benjamin (1980) 4
220 Mirror Has Two Faces, The (1996) 4
781 French Kiss (1995) 4
1035 Cool Runnings (1993) 4
476 First Wives Club, The (1996) 3
254 Batman & Robin (1997) 3
294 Liar Liar (1997) 3
678 Volcano (1997) 2
412 Very Brady Sequel, A (1996) 2
304 Fly Away Home (1996) 2
871 Vegas Vacation (1997) 2
862 Jingle All the Way (1996) 1
User_num:  566
here
149
116
**************************************** Actual User Rating ****************************************
User_num: 566


496 It's a Wonderful Life (1946) 5
242 Kolya (1996) 5
100 Fargo (1996) 5
134 Citizen Kane (1941) 5
2 GoldenEye (1995) 5
1005 Double vie de Véronique, La (Double Life of Veronique, The) (1991) 5
856 Night on Earth (1991) 5
192 Raging Bull (1980) 5
582 Piano, The (1993) 5
170 Cinema Paradiso (1988) 5
137 Big Night (1996) 5
405 Mission: Impossible (1996) 5
1193 Before the Rain (Pred dozhdot) (1994) 5
163 Return of the Pink Panther, The (1974) 5
127 Godfather, The (1972) 5
207 Cyrano de Bergerac (1990) 5
135 2001: A Space Odyssey (1968) 5
1065 Koyaanisqatsi (1983) 5
165 Jean de Florette (1986) 5
273 Heat (1995) 5
213 Room with a View, A (1986) 5
157 Platoon (1986) 5
693 Casino (1995) 5
64 Shawshank Redemption, The (1994) 5
196 Dead Poets Society (1989) 4
705 Singin' in the Rain (1952) 4
479 Vertigo (1958) 4
392 Man Without a Face, The (1993) 4
82 Jurassic Park (1993) 4
117 Rock, The (1996) 4
161 Top Gun (1986) 4
707 Enchanted April (1991) 4
651 Glory (1989) 4
772 Kids (1995) 4
462 Like Water For Chocolate (Como agua para chocolate) (1992) 4
443 Birds, The (1963) 4
77 Firm, The (1993) 4
727 Immortal Beloved (1994) 4
480 North by Northwest (1959) 4
98 Silence of the Lambs, The (1991) 4
218 Cape Fear (1991) 4
7 Twelve Monkeys (1995) 4
461 Smoke (1995) 4
483 Casablanca (1942) 4
673 Cape Fear (1962) 4
529 My Life as a Dog (Mitt liv som hund) (1985) 4
8 Babe (1995) 4
89 Blade Runner (1982) 4
12 Usual Suspects, The (1995) 4
69 Forrest Gump (1994) 4
959 Dazed and Confused (1993) 4
83 Much Ado About Nothing (1993) 4
523 Cool Hand Luke (1967) 4
512 Wings of Desire (1987) 4
631 Crying Game, The (1992) 4
265 Hunt for Red October, The (1990) 4
156 Reservoir Dogs (1992) 4
684 In the Line of Fire (1993) 4
177 Good, The Bad and The Ugly, The (1966) 4
70 Four Weddings and a Funeral (1994) 4
763 Happy Gilmore (1996) 4
182 GoodFellas (1990) 4
318 Schindler's List (1993) 4
511 Lawrence of Arabia (1962) 4
202 Groundhog Day (1993) 4
191 Amadeus (1984) 4
210 Indiana Jones and the Last Crusade (1989) 4
736 Shadowlands (1993) 4
387 Age of Innocence, The (1993) 4
203 Unforgiven (1992) 4
521 Deer Hunter, The (1978) 4
168 Monty Python and the Holy Grail (1974) 4
166 Manon of the Spring (Manon des sources) (1986) 4
411 Nutty Professor, The (1996) 4
133 Gone with the Wind (1939) 4
20 Angels and Insects (1995) 4
56 Pulp Fiction (1994) 4
378 Miracle on 34th Street (1994) 4
86 Remains of the Day, The (1993) 4
508 People vs. Larry Flynt, The (1996) 4
136 Mr. Smith Goes to Washington (1939) 4
660 Fried Green Tomatoes (1991) 4
23 Taxi Driver (1976) 4
96 Terminator 2: Judgment Day (1991) 3
288 Scream (1996) 3
204 Back to the Future (1985) 3
121 Independence Day (ID4) (1996) 3
384 Naked Gun 33 1/3: The Final Insult (1994) 3
403 Batman (1989) 3
327 Cop Land (1997) 3
240 Beavis and Butt-head Do America (1996) 3
97 Dances with Wolves (1990) 3
186 Blues Brothers, The (1980) 3
80 Hot Shots! Part Deux (1993) 3
31 Crimson Tide (1995) 3
215 Field of Dreams (1989) 3
1044 Paper, The (1994) 3
235 Mars Attacks! (1996) 3
54 Outbreak (1995) 3
11 Seven (Se7en) (1995) 3
15 Mr. Holland's Opus (1995) 3
143 Sound of Music, The (1965) 3
22 Braveheart (1995) 3
154 Monty Python's Life of Brian (1979) 3
173 Princess Bride, The (1987) 3
467 Bronx Tale, A (1993) 3
88 Sleepless in Seattle (1993) 3
388 Beverly Hills Cop III (1994) 3
742 Ransom (1996) 3
385 True Lies (1994) 3
790 Tommy Boy (1995) 3
234 Jaws (1975) 3
685 Executive Decision (1996) 3
144 Die Hard (1988) 3
172 Empire Strikes Back, The (1980) 3
485 My Fair Lady (1964) 3
576 Cliffhanger (1993) 2
419 Mary Poppins (1964) 2
755 Jumanji (1995) 2
49 I.Q. (1994) 2
122 Cable Guy, The (1996) 2
228 Star Trek: The Wrath of Khan (1982) 2
393 Mrs. Doubtfire (1993) 2
879 Peacemaker, The (1997) 2
25 Birdcage, The (1996) 2
95 Aladdin (1992) 2
155 Dirty Dancing (1987) 2
181 Return of the Jedi (1983) 2
1232 Madonna: Truth or Dare (1991) 2
465 Jungle Book, The (1994) 2
1437 House Party 3 (1994) 2
108 Kids in the Hall: Brain Candy (1996) 2
1028 Grumpier Old Men (1995) 2
230 Star Trek IV: The Voyage Home (1986) 2
71 Lion King, The (1994) 2
50 Star Wars (1977) 2
260 Event Horizon (1997) 2
423 E.T. the Extra-Terrestrial (1982) 2
94 Home Alone (1990) 2
33 Desperado (1995) 2
153 Fish Called Wanda, A (1988) 2
289 Evita (1996) 1
219 Nightmare on Elm Street, A (1984) 1
575 City Slickers II: The Legend of Curly's Gold (1994) 1
386 Addams Family Values (1993) 1
231 Batman Returns (1992) 1
110 Operation Dumbo Drop (1995) 1
78 Free Willy (1993) 1
395 Robin Hood: Men in Tights (1993) 1